body{
    background-color: white;
}
/*Fonts*/
h1,h2,h3,address,a{
    text-align: center;
    font-weight: bold;
    font-family: 'Jura';
}
p,.table{
    font-family: 'Jura';
}
a {
    text-decoration: none;
    color: black;
}

/*Heading and Nav Bar*/
.heading{
    padding-top: -20px;
    padding-bottom: 10px;
}
.nav-item{
    font-size: larger;
}
.navbar-expand-lg .navbar-collapse {
    display: flex;
    position: relative;
    justify-content: space-around;
}
#tpNav{
    font-weight: bold;
    border-bottom-style: solid;
    border-color: rgb(221,110,184);
    border-color: radial-gradient(circle, rgba(221,110,184,1) 0%, rgba(200,108,198,1) 100%);
    border-width: 5px;
}

/*Table*/
.table{
    text-align: center;
    margin:auto;
    width: 50%;
    border-width: 5px;
    border: black;
}

/*Carousel*/
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 604px;
    object-fit: cover;
}
.carousel-caption {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-height: fit-content;
    max-width: fit-content(25%);
    border-radius: 25px;
    background: rgb(63, 63, 63);
}
.carousel-caption p{
    font-weight: bold;
    font-size: 38px;
}
.carousel-caption h5{
    font-weight: bold;
    font-size: 32px;
}
/*ID*/
#sitelogo{
    height: 80px;
    width: auto;
}
#intro, #outro{
    text-align: center;
    text-align: bold;
    font-size: larger;
    margin: auto;
    width: 50%;
}
#footer{
    font-size: smaller;
}
#footer .navbar{
    border-top-style: solid;
    border-color: rgb(221,110,184);
    border-color: radial-gradient(circle, rgba(221,110,184,1) 0%, rgba(200,108,198,1) 100%);
    border-width: 5px;
}
